table, th, td{
    border: 1px solid color(srgb red green rgb(0, 0, 12));
    border-collapse: collapse;

} 
#paragraph-1{
    background-color: blue;
}
tr:nth-child(even) {
    background-color: brown ;
}